$maxWidth: 1440;

// На описании
@mixin adaptiv-font($pcSize, $mobSize) {
  $addSize: $pcSize - $mobSize;
  $maxWidth: $maxWidth - 320;
  font-size: calc(
    #{$mobSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidth})
  );
}
@media screen and (max-width: 1440px) {
  /* Header */
  .nav__link {
    @include adaptiv-font(16, 5);
  }

  .eye__title {
    @include adaptiv-font(12, 8);
  }
  /* Header */

  /* Общие стили */
  .title {
    @include adaptiv-font(35, 15);
  }

  .text {
    @include adaptiv-font(35, 12);
  }

  .date {
    @include adaptiv-font(15, 12);
  }
  /* Общие стили */

  /* Footer */
  .footer__link {
    @include adaptiv-font(16, 5);
  }
  /* Footer */
}

@media screen and (max-width: 1024px) {
  /* Header */
  .header__logo {
    width: 60px;
  }

  .nav__link {
    padding: 10px;
  }
  /* Header */
}

@media screen and (max-width: 768px) {
  /* Header */
  .nav {
    display: none;
  }

  .eye-burger {
    margin-right: 50px;
  }
  /* Header */

  /* Слайдер */
  .slide__button {
    display: none;
  }
  /* Слайдер */

  /* Footer */
  .footer__content {
    display: block;
    .location-map {
      max-width: 400px;
      max-height: 300px;
    }
  }
  /* Footer */
}

@media screen and (max-width: 425px) {
  /* Footer */
  .footer__content {
    .location-map {
      max-width: 300px;
      max-height: 200px;
    }
  }
  /* Footer */
}
