@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: "Rubik", sans-serif;
}

body {
  margin: 100px 0 0 0;
}

/* Header */
.header {
  width: 100%;
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  background: #1f3b99;
  padding: 10px 5%;
}

.header-container {
  position: relative;
}

.header__content {
  max-width: 1440px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
}

.header__logo {
  width: 80px;
  object-fit: cover;
}

.eye {
  display: flex;
  align-items: center;
  gap: 10px;
  color: #ffffff;
  cursor: pointer;
}

.eye__title {
  font-style: normal;
  font-weight: 400;
  line-height: 130%;
  color: #ffffff;
}

.eye__title:hover {
  color: #bcb7b7;
  transition: 0.3s;
}

.nav__item {
  position: relative;
  float: left;
}

.nav__link {
  display: block;
  font-style: normal;
  font-weight: 400;
  line-height: 130%;
  color: #ffffff;
  padding: 20px;
}

.nav__link:hover {
  color: #bcb7b7;
  transition: 0.3s;
}

.nav .nav__list .nav__item ul {
  width: 200px;
  position: absolute;
  left: 0;
  display: none;
  background: #1f3b99;
}

.nav .nav__list .nav__item ul li {
  width: 100%;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.nav .nav__list .nav__item:hover > ul {
  display: initial;
}
/* Header */

/* Для слабовидящих */
.accessibility-header {
  display: flex;
  align-items: center;
  background-color: gray;
  color: white;
  height: 80px;
  width: 100%;
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 20;
}

.show-accessibility-header {
  display: block;
}

.access-wrapper{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 140px;
  height: 100%;
  line-height: 1;
}

.options{
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 100%;
  line-height: 1;
}

.access-btn button{
  border-style: none;
  border-radius: 2px;
  box-sizing: border-box;
  background: #fff;
  padding: 8px 30px;
}
/* Для слабовидящих */

/* Общие стили */

.title {
  display: block;
  font-style: normal;
  font-weight: 700;
  line-height: 110%;
  padding: 40px 5%;
}

.text {
  font-style: normal;
  font-weight: 400;
  line-height: 130%;
}

.date {
  font-style: normal;
  font-weight: 400;
  line-height: 130%;
}
/* Общие стили */

/* Слайдер */
.slide {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
}

.slide__image {
  width: 45%;
}

.slide__image img {
  width: 100%;
  object-fit: cover;
}

.slide__info {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.slide__button {
  height: 45px;
  width: 45px;
  border-radius: 50%;
  background: rgb(63, 88, 178);
}

.slide__button:hover {
  background: rgba(0, 0, 0, 0.1);
  transition: 0.3s;
}

.slide__button::before,
.slide__button::after {
  font-size: 15px;
  color: white;
}

.swiper-button-next {
  position: absolute;
  right: 20px;
}

.swiper-button-prev {
  position: absolute;
  left: 20px;
}
/* Слайдер */

/* Footer */
.footer {
  width: 100%;
  background: #1f3b99;
  padding: 20px 5%;
}

.footer__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__link {
  display: flex;
  align-items: center;
  gap: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%;
  color: #ffffff;
  padding: 10px;
}

.footer__link_quetion:hover {
  color: #bcb7b7;
  transition: 0.3s;
}
/* Footer */
 
