@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800;900&display=swap");
/* Общие стили */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: "Rubik", sans-serif;
}






.title {
  display: block;
  font-style: normal;
  font-weight: 400;
  line-height: 130%;
  padding: 40px 5%;
}

.text {
  font-style: normal;
  font-weight: 400;
  line-height: 130%;
}

.date {
  font-style: normal;
  font-weight: 400;
  line-height: 130%;
}
/* Общие стили */

/* Версия для слабовидящих */
.accessibility-header {
  align-items: center;
  background-color: gray;
  color: #ffffff;
  height: 80px;
  width: 100%;
  display: none;
}

.show-accessibility-header {
  display: block;
}

.access-wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 140px;
  height: 100%;
  line-height: 1;
}

.options {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 100%;
  line-height: 1;
}

.access-btn button {
  border-style: none;
  border-radius: 2px;
  box-sizing: border-box;
  background: #ffffff;
  padding: 8px 30px;
}
/* Версия для слабовидящих */

/* Header */
.header {
  width: 100%;
  /* position: fixed; */
  /* z-index: 10;
  top: 0;
  left: 0; */
  background: #191970;
  padding: 10px 5%;
}

.header-container {
  position: relative;
}

.header__content {
  max-width: 1440px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
}

.header__logo img {
  width: 80px;
  object-fit: cover;
}

.eye {
  display: flex;
  align-items: center;
  gap: 10px;
  color: #ffffff;
  transition: 0.3s;
  cursor: pointer;
  padding: 10px;
}

.eye__title {
  font-style: normal;
  font-weight: 400;
  line-height: 130%;
  color: #ffffff;
  transition: 0.3s;
}

.eye__title:hover {
  color: #bcb7b7;
  transition: 0.3s;
}

.nav__item {
  position: relative;
  float: left;
}

.select::after {
  content: "\f078";
  display: inline-block;
  font-family: "FontAwesome";
  margin-left: 10px;
}

.select:focus:after{
  content: "\f077";
}

.nav__link {
  display: block;
  font-style: normal;
  font-weight: 400;
  line-height: 130%;
  color: #ffffff;
  transition: 0.3s;
  padding: 20px;
}

.nav__link:hover {
  color: #bcb7b7;
  transition: 0.3s;
}

.nav .nav__list .nav__item ul {
  width: 200px;
  position: absolute;
  left: 0;
  display: none;
  background: #ffffff;
}

.nav .nav__list .nav__item:hover ul {
  display: initial;
}

.nav .nav__list .nav__item ul li {
  width: 100%;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.nav .nav__list .nav__item ul li a {
  font-style: normal;
  font-weight: 400;
  line-height: 130%;
  color: #000000;
  transition: 0.3s;
}

.nav .nav__list .nav__item ul li a:hover {
  color: #bcb7b7;
  transition: 0.3s;
}
/* Header */

/* Главная */
.main {
  height: 65vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #191970;
  padding: 0 5%;
  margin: -20px 0 0 0;
}

.main__title {
  max-width: 600px;
  width: 100%;
  margin: -80px 0 0 0;
}

.main__title p {
  font-style: normal;
  font-weight: 300;
  line-height: 130%;
  color: #ffffff;
}

.main__title h1 {
  font-style: normal;
  font-weight: 500;
  line-height: 130%;
  color: #ffffff;
}

.main__button {
  width: 200px;
  height: 40px;
  position: relative;
  background: #ffffff;
  border: none;
  border-radius: 2px;
  cursor: pointer;
  margin: 30px 0 0 0;
}

.main__button span {
  font-style: normal;
  font-weight: 500;
  line-height: 130%;
  color: #191970;
  transition: 0.3s;
}

.main__button:hover {
  background: #bcb7b7;
  color: #ffffff;
  transition: 0.3s;
}

/* Главная */

/* Последние новости/Cлайдер */
.slide {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
}

.slide__image {
  width: 45%;
}

.slide__image img {
  width: 100%;
  object-fit: cover;
}

.slide__info {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.container-text {
  max-width: 550px;
  width: 100%;
}

.slide__button {
  height: 45px;
  width: 45px;
  border-radius: 50%;
  background: #191970;
}

.slide__button:hover {
  background: rgba(0, 0, 0, 0.1);
  transition: 0.3s;
}

.slide__button::before,
.slide__button::after {
  font-size: 15px;
  color: #ffffff;
}

.swiper-button-next {
  position: absolute;
  right: 20px;
}

.swiper-button-prev {
  position: absolute;
  left: 20px;
}
/* Последние новости/Cлайдер */

/* Перечень последних вакансий */
.vacancy {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 40px;
}

.vacancy__item {
  max-width: 400px;
  min-width: 320px;
  min-height: 250px;
  width: calc(50% - 20px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 1px solid #bcb7b7;
  box-sizing: border-box;
  padding: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%;
}

.vacancy__item .price {
  font-style: normal;
  font-weight: 500;
  line-height: 130%;
  color: #191970;
}

.vacancy__button {
  width: 100%;
  height: 40px;
  position: relative;
  background: #191970;
  box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, 0.5),
    7px 7px 20px 0px rgba(0, 0, 0, 0.1), 4px 4px 5px 0px rgba(0, 0, 0, 0.1);
  border: none;
  border-radius: 5px;
  transition: all 0.3s ease;
  cursor: pointer;
}

.vacancy__button span {
  font-style: normal;
  font-weight: 500;
  line-height: 130%;
  color: #ffffff;
}

.vacancy__button:hover {
  box-shadow: 4px 4px 6px 0 rgba(255, 255, 255, 0.5),
    -4px -4px 6px 0 rgba(116, 125, 136, 0.5),
    inset -4px -4px 6px 0 rgba(255, 255, 255, 0.2),
    inset 4px 4px 6px 0 rgba(0, 0, 0, 0.4);
}
/* Перечень последних вакансий */

/* Ссылки на государственные сайты */
.links {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 0 0 40px 0;
}

.links__item {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.links__item li {
  display: flex;
  align-items: center;
  gap: 10px;
}

.links__item li span,
a {
  font-style: normal;
  font-weight: 700;
  line-height: 130%;
  color: rgb(63, 88, 178);;
  transition: 0.3s;
  cursor: pointer;
}

.links__item li:hover span {
  color: #bcb7b7;
  transition: 0.3s;
}

.links__item li:hover a {
  color: #bcb7b7;
  transition: 0.3s;
}
/* Ссылки на государственные сайты */

/* Footer */
.footer {
  width: 100%;
  background: #191970;
  padding: 20px 5%;
}

.footer__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__link {
  position: relative;
  display: flex;
  align-items: center;
  gap: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%;
  color: #ffffff;
  transition: 0.3s;
  padding: 10px;
}

.footer__link_quetion:hover {
  color: #bcb7b7;
  transition: 0.3s;
}
/* Footer */

/* Tooltip */
.tooltip {
  position: absolute;
  background-color: #333;
  color: #fff;
  padding: 4px 8px;
  font-size: 14px;
  border-radius: 4px;
  z-index: 9999;
}
